h1 {
  color: red;
}

.container {
  width: 500px;
  height: 650px;
  border: none;
  box-sizing: border-box;
  margin: 60px auto;
  box-shadow: 10px 10px 19px -11px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 40px 60px;
  background-image: linear-gradient(
    171.8deg,
    rgba(5, 111, 146, 1) 13.5%,
    rgba(6, 57, 84, 1) 78.6%
  );
}

.secondary-container {
  box-sizing: border-box;
  width: 200px;
  height: 100px;
  border: 1px solid;
  margin: 60px auto;
  border-radius: 5px;
}

.country,
.temp {
  text-align: center;
}
