h1 {
  color: red;
}

body {
  background: url(https://p1.pxfuel.com/preview/440/656/3/blue-sky-clouds-cloudy.jpg);
}

.container {
  width: 500px;
  height: 650px;
  border: none;
  box-sizing: border-box;
  margin: 60px auto;
  box-shadow: 10px 10px 19px -11px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 40px 60px;
  background-image: linear-gradient(
    171.8deg,
    rgba(5, 111, 146, 1) 13.5%,
    rgba(6, 57, 84, 1) 78.6%
  );
  opacity: 0.9;
}

.secondary-container {
  box-sizing: border-box;
  width: 350px;
  height: 100px;
  border: none;
  margin: 50px auto;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  color: #fff;
  background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
  opacity: 0.5;
}

.third-container {
  box-sizing: border-box;
  width: 350px;
  height: 100px;
  border: none;
  margin: 50px auto;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  color: #fff;
  background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
  opacity: 0.5;
}

.country,
.temp {
  text-align: center;
}

.search-city {
  text-align: center;
  margin: 10px;
}
