h1 {
  color: red;
}

body {
  background: url(https://p1.pxfuel.com/preview/440/656/3/blue-sky-clouds-cloudy.jpg);
}

.container {
  width: 500px;
  height: 650px;
  border: none;
  box-sizing: border-box;
  margin: 60px auto;
  box-shadow: 10px 10px 19px -11px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 40px 60px;
  background-image: linear-gradient(
    171.8deg,
    rgba(5, 111, 146, 1) 13.5%,
    rgba(6, 57, 84, 1) 78.6%
  );
  opacity: 0.9;
}

.secondary-container {
  box-sizing: border-box;
  width: 350px;
  height: 100px;
  border: none;
  margin: 50px auto;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  color: #fff;
  background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
  opacity: 0.5;
}

.third-container {
  box-sizing: border-box;
  width: 350px;
  height: 100px;
  border: none;
  margin: 50px auto;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  color: #fff;
  background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
  opacity: 0.5;
}

.country,
.temp {
  text-align: center;
}

.search-city {
  text-align: center;
  margin: 10px;
}

button {
  border-radius: 4px;
  border: none;
  background: #1e2235;
  color: #f6f8ff;
  shadow: rgba(#00093d, 0.24);
  cannon-dark: #a6accd;
  cannon-light: #f6f8ff;
  cannon-shadow: #{rgba(#0d0f18, 0.9)};
  confetti-1: #892ab8;
  confetti-2: #ea4c89;
  confetti-3: #ffff04;
  confetti-4: #4af2fd;
}

.icon-container {
  width: 10rem;
  height: 10rem;
  border: 3px solid#75e6da;
  background-color: #071330;
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}

.icon-container i {
  color: #c3ceda;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}

.fa-html5:hover {
  color: #e96228;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
    0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8),
    0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5),
    0 0 80px rgba(66, 220, 219, 0.5);
}

.fa-css3-alt:hover {
  color: #28a4d8;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
    0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8),
    0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5),
    0 0 80px rgba(66, 220, 219, 0.5);
}

.fa-sass:hover {
  color: #ce6b9e;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
    0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8),
    0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5),
    0 0 80px rgba(66, 220, 219, 0.5);
}

.fa-js:hover {
  color: #e9d44d;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
    0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8),
    0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5),
    0 0 80px rgba(66, 220, 219, 0.5);
}

.fa-gem:hover {
  color: #a51401;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
    0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8),
    0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5),
    0 0 80px rgba(66, 220, 219, 0.5);
}

.fa-database:hover {
  color: #319f3d;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
    0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8),
    0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5),
    0 0 80px rgba(66, 220, 219, 0.5);
}

.fa-react:hover {
  color: #5ed3f3;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
    0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8),
    0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5),
    0 0 80px rgba(66, 220, 219, 0.5);
}

.fa-node-js:hover {
  color: #8cbf3d;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
    0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8),
    0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5),
    0 0 80px rgba(66, 220, 219, 0.5);
}

.technologies {
  margin-top: 6rem;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.tech-icon1,
.tech-icon2 {
  display: inline-block;
  letter-spacing: 2rem;
  margin: 2rem 0rem;
  display: flex;
  flex-wrap: row wrap;
}
